body {
  background-color: #F2EAEA;
  margin: 0;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}


a {
  color: #000 !important;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.imj {

  background-size: cover;
  height: 100vh;
  width: 100vw;
  background: url(./images/фон.jpg) center / cover no-repeat;
}

input,
textarea {
  background: none;
  border: none;
  font-size: 16px;
  color: white;
}


.text_title {
  font-size: 50px;
  margin-left: 31vw;
  margin-top: 2vh;
  font-family: "Bad Script", cursive;
}

.form_name {
  border-bottom: white 2px solid;
  width: 28vw;
  margin-left: 2vw;
  margin-top: 3vh;
}

.form_phone {
  border-bottom: white 2px solid;
  margin-left: 2vw;
  width: 13vw;
}

.form_email {
  border-bottom: white 2px solid;
  margin-left: 2vw;
  width: 13vw;
}

.form_comment {
  border-bottom: white 2px solid;
  width: 28vw;
  margin-left: 2vw;
  margin-top: 5vh;
}

.send {
  width: 12vw;
  height: 4vh;
  border-radius: 17px;
  border: none;
  margin-top: 4vh;
  margin-left: 10vw;
  font-size: 16px;
}

.contact,
.method,
.session,
.a_education {
  margin-left: 2%;
  border-radius: 50px;
  background-color: rgb(253, 226, 205, 0.7);
  padding: 0.22em;
  font-family: "Jost", sans-serif;
}

.grup_sigen_up {
  display: flex;
  justify-content: center;
  margin-top: 6vw;
}

.grup {
  display: flex;
  margin-right: 2vw;
  justify-content: flex-end;
  padding-top: 4vh;
  font-size: 26px;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.title0 {
  font-size: 75px;
}

.sign_up {
  border-radius: 50px;
  border: 3px solid white;
  background-color: rgb(255, 255, 255, 0.4);
}

.zap {
  padding-top: 0.2em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  padding-bottom: 0.29em;
  font-size: 36px;
  color: white;
  font-family: "Jost", sans-serif;
}

.text {
  color: white;
  opacity: 1;
  font-size: 25px;
  padding-bottom: 0.1em;
  font-family: "Jost", sans-serif;
}

.logo_img {
  margin-left: 46vw;
  margin-top: 21vh;
}

.image_2 {
  margin-left: 3vw;
}


.grup_text_title {
  display: flex;
  margin-right: 3vw;
  position: relative;
}

.box_background {
  width: 350px;
  height: 438px;
  background-color: #c6bfce;
  border-radius: 20px;
  margin-left: 4vw;
  margin-top: 2vw
}


.text_line {
  height: 31vh;
  border-left: 1px solid;
  margin-top: 4vh;
  padding-left: 1.5em;
  font-family: "Jost", sans-serif;
  margin-left: 4vw;
  width: 63vw;
  font-size: 26px;
}

.image_2 {
  position: absolute;
}

.sad_line {
  border-top: 1px solid;
  width: 30vw;
  margin-left: 6vw;
  margin-top: 6vh
}

.sad_line_flex {
  display: flex;
  justify-content: space-between;
  margin-right: 1vw;

}

.text_sad_line {
  font-size: 60px;
  text-align: right;
  width: 61vw;
  margin-right: 8vw;
  font-family: "Bad Script", cursive;
}

.subtext_sad_line {
  font-size: 26px;
  text-align: right;
  font-family: "Jost", sans-serif;
}

.text_image_3 {
  font-family: "Jost", sans-serif;
  width: 51vw;
  margin-left: 6vw;
  font-size: 26px;
  margin-right: 1vw;
}

.text_image3_flex {
  display: flex;
  margin-top: 5vh;
  margin-right: 3vw;

}

.image_3_background {
  background-color: #81A0D0;
  width: 413px;
  height: 239px;
  margin-top: 5vh;
  margin-left: 9vw;
  border-radius: 20px;
  position: absolute 2;
}

.box {
  position: relative;
  width: 62vw;
  margin-right: 1vw;
}

.image_3 {
  position: absolute 1;
}

.img_3 {
  position: absolute;
  margin-left: 8vw;
  margin-top: 6vh;
}

.image3_line {
  width: 87vw;
  height: 7vh;
  border-top: black 1px solid;
  margin-top: 5vh;
  margin-left: 6vw;
}

.image_4 {
  width: 95vw;
}

.my_title {
  width: 47vw;
}

.class_amg4 {
  width: 100vw;
  background: url(./images/will-van-wingerden-87463-e1549022529660\ 1.png) center / cover no-repeat;
  height: 20vh
}

.box_you {
  display: flex;
}

.about_you {
  font-size: 60px;
  font-family: "Bad Script", cursive;
  margin-top: 4vh;
  margin-left: 6vw;
}

.your_requests {
  font-size: 26px;
  font-family: "Bad Script", cursive;
  margin-top: 10vh;
  margin-left: 1vw;
}

.if_you {
  font-size: 40px;
  font-family: "Bad Script", cursive;
  margin-left: 14vw;
  margin-top: 12vh;
}

.about_text_flex {
  display: flex;
  margin-top: 3vh;
}

.about_text_1 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  margin-left: 3vw;
}

.about_text_2 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  width: 43vw;
  margin-left: 8vw;
}

.box_relative {
  position: relative;
}

.box_choice {
  position: absolute;
  width: 38vw;
  height: 5vh;
  background-color: #EBE1E1;
  border-radius: 20px;
  margin-left: 4vw;
  margin-top: 8vh;
  box-shadow: 6px 3px 4px gray;
  font-size: 30px;
  font-family: "Jost", sans-serif;

}

.box_choice_text {
  position: absolute;
  width: 66vw;
  height: 22vh;
  background-color: #CBD5CA;
  margin-left: 30vw;
  margin-top: 10vh;
  border-radius: 20px;
  box-shadow: 6px 3px 4px gray;
  font-family: "Jost", sans-serif;
  font-size: 28px;
}

.line_choise {
  margin-left: 7vw;
  width: 18vw;
  border-bottom: 1px solid;
  margin-top: 21vh;
  position: absolute;
}

.choice_1 {
  margin-top: 1vh;
  margin-left: 5vh;
}

.choice_2 {
  padding: 1em;
  margin-top: 1vh;
}

.the_method {
  font-size: 50px;
  font-family: "Bad Script", cursive;

}

.the_method_flex {
  display: flex;
  margin-top: 44vh;
}

.the_method_line {
  margin-left: 3vw;
  height: 4vh;
  width: 76vw;
  border-bottom: 1px solid;
}

.the_method_box_bacground_1 {
  width: 77vw;
  height: 19vh;
  background-color: #C6BFCE;
  border-radius: 69px;
  margin-top: 4vh;
  margin-left: 5.1vw;
  position: absolute;
}

.the_method_box_text_1 {
  width: 77vw;
  height: 19vh;
  background-color: #F4EEEE;
  border-radius: 69px;
  margin-top: 3vh;
  margin-left: 4vw;
  position: absolute;
}

.the_method_box_1 {
  position: relative;
}

.svg_boshka {
  margin-left: 87vw;
  margin-top: 6vh;
}

.gipnoz_1 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  margin-top: 2vw;
  width: 74vw;
  margin-left: 2vw;

}

.the_method_box_bacground_2 {
  width: 77vw;
  height: 23vh;
  background-color: #E2B6B6;
  border-radius: 69px;
  margin-top: 15vh;
  margin-left: 21vw;
  position: absolute
}

.the_method_box_text_2 {
  width: 77vw;
  height: 23vh;
  background-color: #F4EEEE;
  border-radius: 69px;
  margin-top: 14vh;
  margin-left: 20vw;
  position: absolute;
}

.gipnoz_2 {
  font-size: 26px;
  font-family: "Jost", sans-serif;
  margin-top: 1.2vw;
  width: 74vw;
  margin-left: 3vw;

}

.the_method_box_2 {
  position: relative;
}

.cist {
  margin-top: 17vh;
  margin-left: 4vw;
}

/* 
.forma {
  background-color: #6d9bd1;
  height: 38vh;
  width: 32vw;
  border-radius: 20px;
  margin-left: 7vw;
  margin-top: 4vh;
  padding: 2%;
}

.forma_text {
  margin-top: 5vh;
  width: 50vw;
  border-top: 3px solid white;
  border-right: 3px solid white;
  height: 56vh;
}

.forma_flex {
  display: flex;
  margin-top: 6vh;
}

::-webkit-input-placeholder {
  color: white;
}

.contact_bottom {
  font-size: 60px;
  color: white;
  margin-left: 14vw;
  margin-top: 2vw;
}

.global_flex {
  display: flex;
}

.contakts {
  font-size: 52px;
  color: white;
  margin-top: 8vh;
  margin-left: 7vw;
}

.contacts_grup {
  width: 50vw;
  border-bottom: 3px solid white;
}

textarea:focus,
input:focus {
  outline: none;
} */